# Mulptiple Linear Regression

In [1]:
# Importing the libraries
import numpy as np
import matplotlib as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('50_Startups.csv')
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,4]

In [5]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [7]:
# Convert the column into categorical column
states = pd.get_dummies(X['State'],drop_first = True)

In [9]:
# Drop the State column
X = X.drop('State', axis=1)

In [10]:
# Concat the dummies varibles
X = pd.concat([X, states], axis=1)

In [11]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# Fitting multiple linear regression to the Trainig set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
# Predicting the Test set result
y_pred = regressor.predict(X_test)

In [15]:
# Calculate Accuracy of model using r2_score
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [16]:
print(score)

0.9347068473282423